# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Environments
.env.local
.env.test
venv/
ENV/
env/

# Flask
instance/uploads/*
!instance/uploads/.gitkeep
migrations/versions/*
!migrations/versions/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Database
*.db
*.sqlite 